FtbAssmbling/AppService/Web References/com.every8d.tw1/Message.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QueueIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendtype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgCategory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="image" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Audio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="batchID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="certified" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueueInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueueInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="batchID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadBookingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EraseBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="batchID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EraseBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EraseBookingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueueInSoapIn">
    <wsdl:part name="parameters" element="tns:QueueIn" />
  </wsdl:message>
  <wsdl:message name="QueueInSoapOut">
    <wsdl:part name="parameters" element="tns:QueueInResponse" />
  </wsdl:message>
  <wsdl:message name="LoadBookingSoapIn">
    <wsdl:part name="parameters" element="tns:LoadBooking" />
  </wsdl:message>
  <wsdl:message name="LoadBookingSoapOut">
    <wsdl:part name="parameters" element="tns:LoadBookingResponse" />
  </wsdl:message>
  <wsdl:message name="EraseBookingSoapIn">
    <wsdl:part name="parameters" element="tns:EraseBooking" />
  </wsdl:message>
  <wsdl:message name="EraseBookingSoapOut">
    <wsdl:part name="parameters" element="tns:EraseBookingResponse" />
  </wsdl:message>
  <wsdl:portType name="MessageSoap">
    <wsdl:operation name="QueueIn">
      <wsdl:input message="tns:QueueInSoapIn" />
      <wsdl:output message="tns:QueueInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadBooking">
      <wsdl:input message="tns:LoadBookingSoapIn" />
      <wsdl:output message="tns:LoadBookingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EraseBooking">
      <wsdl:input message="tns:EraseBookingSoapIn" />
      <wsdl:output message="tns:EraseBookingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessageSoap" type="tns:MessageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueueIn">
      <soap:operation soapAction="http://tempuri.org/QueueIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadBooking">
      <soap:operation soapAction="http://tempuri.org/LoadBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EraseBooking">
      <soap:operation soapAction="http://tempuri.org/EraseBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessageSoap12" type="tns:MessageSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueueIn">
      <soap12:operation soapAction="http://tempuri.org/QueueIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadBooking">
      <soap12:operation soapAction="http://tempuri.org/LoadBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EraseBooking">
      <soap12:operation soapAction="http://tempuri.org/EraseBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Message">
    <wsdl:port name="MessageSoap" binding="tns:MessageSoap">
      <soap:address location="http://tw.every8d.com/API20/Message.asmx" />
    </wsdl:port>
    <wsdl:port name="MessageSoap12" binding="tns:MessageSoap12">
      <soap12:address location="http://tw.every8d.com/API20/Message.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>